@use '_Store';

.msg-box {
  h1{
    font-size:3.4em;
    margin:0;
    color:#fff;
    color:#444;
    color:#4a3218eb;
    font-weight:bold;
  }

  p {
    color:#f6f6f6;
    color:#444 !important;
  }

}

.illust1{
  img{
    display:none;
  }
}



@media only screen and (min-width:1200px){

  .intro-content-box{
    display:flex;
  }

  .msg-box {
    h1{
      font-size:4em;
    }

    button{
      font-size:22px;
    }
  }


  .illust1{
    img{
      display:block;
      // height:28rem;
    }
  }

}