@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  font-family: 'Questrial', sans-serif;
  color:#31200a;
  /* color:#f4f4f4; */
}

body{
  padding:0;
  margin:0;
  box-sizing:border-box;
  background:#FFFAF6;

  /* background-image:url('../src/assets/coffee-bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.app-box{
  width:90%;
  margin: auto;
  display:flex;
  flex-direction: column;
  grid-gap:5rem;
}

.msg-box h1{
  font-size:4em;
  margin:0;
  color:#fff;
  color:#444;
}

.msg-box p {
  color:#f6f6f6;
  color:#444 !important;
}

.init-btn{
  background:brown;
  color:#f3f3f3;
  font-size:20px;
  padding:.4em .6em;
  border:none;
  border-radius:8px;
}




@media only screen and (min-width:1200px){
  .app-box{
    width:80%;
  }

  .msg-box p {
    color:#f6f6f6;
  }

  .init-btn{
    font-size:22px;
  }
  

  /* .header-box, .body-box, .footer{
    border:1px solid;
  } */
}